.bg-dark {
    background-color: black;
    padding-right: 5%;
    padding-left: 5%;

}

.bg-grey {
    background-color: #232323;
}

.diagonal-bg {
    width: 300px;
    height: 100px;
    background: linear-gradient(135deg, #000000 80%, #FFD900 20%);
    z-index: 10;
}

.card-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    perspective: 900px;
    gap: 30px;
}

.hover-card {
    background-color: #232323;
    border: none;
    transition: transform 300ms;
    display: flex;
    align-items: center;

}

.hover-card:hover {
    transform: scaley(1.05);
}